<template>
  <main class="content content_cabinet">
    <section class="users page__section">
      <div class="users__top">
        <h1 class="section-title">Пользователи</h1>
        <a href="#" class="users__add">+ добавить пользователя</a>
      </div>

      <div class="users__wrapper wrapper-max_width-m">
        <div class="users__row row-search">
          <search-input
            type="text"
            name="search"
            inputClasses="form__input-edit form__input-edit_type_search"
            :inputValue="filters.keyword"
            id="search"
            @search="setFiltersKeyword($event)"
            :value="filters.keyword"
          />
          <div class="users__dates">
            <label for="UsersDateFrom" class="form__label">Период входа</label>
            <div class="users__dates-wrap">
              <div class="users__dates-inputs">
                <input
                  type="date"
                  name="UsersDateFrom"
                  class="form__input-edit form__input-edit_el_date-from"
                  id="dateFrom"
                  @input="(e) => setFiltersDateFrom(e.target.value)"
                  :value="filters.dateFrom"
                />
                <div class="users__dates-inputs__line"></div>
                <input
                  type="date"
                  name="UsersDateTo"
                  class="form__input-edit form__input-edit_el_date-to"
                  id="dateTo"
                  @input="(e) => setFiltersDateTo(e.target.value)"
                  :value="filters.dateTo"
                />
              </div>
              <a @click.prevent="clearFilters()" href="#" class="filter__reset-link users-search__reset-link"
                >Сбросить</a
              >
            </div>
          </div>
        </div>
        <div class="users__row row-table">
          <div class="row-table__top">
            <div class="row-table__found">Найдено {{ users.length }}</div>
            <div class="row-table__selects table-selects">
              <div class="table-selects__col">
                <select name="form[]" class="form_role">
                  <option value="1" selected>Все роли</option>
                  <option value="2">Пункт №2</option>
                  <option value="3">Пункт №3</option>
                  <option value="4">Пункт №4</option>
                </select>
              </div>
              <div class="table-selects__col">
                <select
                  @change="(e) => setFiltersRegionId(e.target.value)"
                  :value="filters.regionId"
                  class="form_role"
                >
                  <option value="">Все регионы</option>
                  <option
                    v-for="region in regions"
                    :key="region.id"
                    :value="region.id"
                  >
                    {{ region.title }}
                  </option>
                </select>
              </div>
              <div class="table-selects__col">
                <select
                  @change="(e) => setFiltersCityId(e.target.value)"
                  :value="filters.cityId"
                  class="form_role"
                >
                  <option value="">Все города</option>
                  <option
                    v-for="city in cities"
                    :key="city.id"
                    :value="city.id"
                  >
                    {{ city.title }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <table class="table users__table">
            <tbody>
              <tr class="table__row table__row_head">
                <th class="table__header">ФИО</th>
                <th class="table__header">E-mail</th>
                <th class="table__header">Роль</th>
                <th class="table__header">Регион</th>
                <th class="table__header">Населенный пункт</th>
                <th class="table__header">Место работы</th>
                <th class="table__header">Дата регистрации</th>
                <th class="table__header">Дата последнего входа</th>
                <th class="table__header"></th>
              </tr>
              <tr class="table__row" v-for="user in users" :key="user.id">
                <td class="table__cell">
                  {{ user.second_name }} {{ user.first_name }}
                  {{ user.last_name }}
                </td>
                <td class="table__cell">sitnicov@mail.ru</td>
                <td class="table__cell">Фед</td>
                <td class="table__cell">{{ user.region.title }}</td>
                <td class="table__cell">{{ user.city.title }}</td>
                <td class="table__cell">{{ user.organization?.title }}</td>
                <td class="table__cell">31.12.2020</td>
                <td class="table__cell">
                  {{
                    new Date(user.last_login)
                      .toLocaleString("ru-RU")
                      .slice(0, 10)
                  }}
                </td>
                <td class="table__cell">
                  <button class="table__cell-users_row-more">
                    <img src="@/assets/images/more_dots.svg" alt="more" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
import { createNamespacedHelpers } from "vuex";
import SearchInput from '../../../components/UI/SearchInput.vue';

const { mapActions: mapActionsUsers, mapState: mapStateUsers } =
  createNamespacedHelpers("users");
const { mapState: mapStateLocation } = createNamespacedHelpers("location");

export default {
  components: { SearchInput },
  name: "cabinet-users",
  computed: {
    ...mapStateUsers({
      users: (state) => state.users,
      filters: (state) => state.filters,
    }),
    ...mapStateLocation({
      regions: (state) => state.regions.regions,
      cities: (state) => state.cities.cities,
    }),
  },
  methods: {
    ...mapActionsUsers([
      "getUsers",
      "setFiltersKeyword",
      "setFiltersDateFrom",
      "setFiltersDateTo",
      "setFiltersRegionId",
      "setFiltersCityId",
      "clearFilters"
    ]),
  },
  created() {
    this.getUsers();
  },
};
</script>