<template>
  <main class="content content_cabinet">
    <section class="listeners page__section">
      <!-- <ul class="breadcrumbs page__breadcrumbs">
              <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Организации</a>
              </li>
              <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Регионы</a>
              </li>
              <li class="breadcrumbs__item">
                <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
              </li>
            </ul> -->

      <h1 class="section-title mb-50">слушатели</h1>
      <div class="listeners__wrapper wrapper-max_width-m">
        <div class="listeners__row listeners__panel">
          <h3>Статистика по стране</h3>
          <ul class="stat-panels listeners-detail__stat-panels">
            <li class="stat-panels__item">
              <h3 class="stat-panels__title">Регионы</h3>
              <p class="stat-panels__num">5</p>
            </li>
            <li class="stat-panels__item">
              <h3 class="stat-panels__title">Организаций ДПО</h3>
              <p class="stat-panels__num">9</p>
            </li>
            <li class="stat-panels__item">
              <h3 class="stat-panels__title">Реализуемых программ</h3>
              <p class="stat-panels__num">74</p>
            </li>
            <li class="stat-panels__item">
              <h3 class="stat-panels__title">Слушателей</h3>
              <p class="stat-panels__num">2751</p>
            </li>
          </ul>
        </div>
        <!-- <div class="listeners__row listeners__inputs">
          <div class="listeners__region">
            <label for="listenersRegion" class="form__label">Регион</label>
            <select class="form__select form__select_theme_white"></select>
          </div>
          <div class="listeners__year">
            <label for="listenersYear" class="form__label">Год</label>
            <select class="form__select form__select_theme_white"></select>

          </div>
          <div class="listeners__kvartal">
            <label for="listenersKvartal" class="form__label">Квартал</label>
            <select class="form__select form__select_theme_white"></select>

          </div>
          <div class="listeners__link">
            <a href="#" class="filter__reset-link reports-search__reset-link"
              >Сбросить</a
            >
          </div>
        </div> -->
        <div class="listeners__row listeners__all">
          <div class="listeners__list">
            <div class="listeners__item">
              <span> Всего слушателей </span>
              <p>2751</p>
            </div>
            <div class="listeners__item">
              <span> слушателей за квартал </span>
              <p>421</p>
            </div>
            <div class="listeners__item">
              <span> слушателей за год </span>
              <p>2675</p>
            </div>
            <div class="listeners__item">
              <span> слушателей за месяц </span>
              <p>59</p>
            </div>
          </div>
        </div>
        <div class="listeners__row listeners__table">
          <div class="table_header">
            <ul>
              <li>
                <a href="#" class="table_header-icon_download"
                  >Скачать в формате csv</a
                >
              </li>
              <li>
                <a href="#" class="table_header-icon_download"
                  >Скачать в формате xls</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
export default {
  name: "cabinet-listeners",
};
</script>
