<template>
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <router-link to="/" class="logo logo_page_cabinet"></router-link>
        <router-link
          to="/cabinet/add-news"
          class="header-link header__add_news-link"
          v-if="userId == 3"
          >Добавить новость</router-link
        >
        <router-link to="/" class="header-link header__site-link"
          >Перейти на сайт</router-link
        >
        <a href="" class="header-link header__log-link" v-if="userId == 3"
          >Логирование</a
        >
        <a
          @click="toggleTechnicalSupportPopup"
          href="#"
          class="header-link header__log-link"
          v-if="userId != 3"
          >Техническая поддержка</a
        >
      </div>
      <div class="header__column header__column_direct_row-end">
        <router-link to="/cabinet" class="header__user-link">
          <img
            :src="'http://api.efs.demostorage.site/storage' + imageSrc"
            class="header__avatar"
            alt="Аватар пользователя"
            v-if="imageSrc"
          />
          <span class="header__username">{{ initials }}</span>
        </router-link>
        <div class="header__controls">
          <router-link
            to="/cabinet/notifications"
            class="header__control header__control_type_notification"
            title="Уведомления"
          ></router-link>
          <a
            @click="hadnlerLogout"
            href="#"
            class="header__control header__control_type_logout"
            title="Выйти"
          ></a>
        </div>
      </div>
    </div>
    <technical-support-popup v-if="isOpenedTechnicalSupport" />
  </header>
</template>
<script>
import { mapActions, mapMutations, mapState } from "vuex";
import TechnicalSupportPopup from "@/components/TechnicalSupportPopup/TechnicalSupportPopup";
export default {
  name: "CabinetHeader",
  methods: {
    ...mapActions({
      logout: "auth/logout",
    }),
    ...mapMutations({
      setIsOpened: "technicalSupport/setIsOpened"
    }),
    hadnlerLogout() {
      this.logout();
      this.$router.push("/");
    },
    toggleTechnicalSupportPopup() {
      this.setIsOpened(true);
    },
  },
  computed: {
    ...mapState({
      isOpenedTechnicalSupport: (state) => state.technicalSupport.isOpened,
      userData: (state) => state.account.userData,
    }),
    initials: function () {
      if (!this.userData) {
        return "";
      }

      const { first_name, last_name, second_name } = this.userData;
      return (
        second_name +
        " " +
        first_name?.slice(0, 1) +
        ". " +
        (last_name ? last_name.slice(0, 1) + "." : "")
      );
    },
    imageSrc: function () {
      return this.userData?.image;
    },
    userId: function () {
      return this.userData?.id;
    },
  },
  components: {
    TechnicalSupportPopup,
  },
  created() {
    console.log(this.userId);
  },
};
</script>