<template>
  <main
    class="regional__new-listeners content content_cabinet"
    v-if="$store.state.account.userData?.id == 4"
  >
    <section class="form-detail page__section">
      <!-- <ul class="breadcrumbs page__breadcrumbs">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Формы</a>
            </li>
            <li class="breadcrumbs__item">
              <span href="#" class="breadcrumbs__link breadcrumbs__link_current">добавить слушателя</span>
            </li>
          </ul> -->
      <div class="form-detail__top">
        <h1 class="section-title">
          №3456 <br />
          Сведения об организации дополнительного профессионального образования
        </h1>
      </div>

      <div class="form-detail__wrapper wrapper-max_width-m">
        <form class="new-listeners__body width_m from">
          <div class="new-listeners__block block_white">
            <div class="new-listeners_tabs-form__line form__item">
              <label for="newListenersFio" class="form__label"
                >Полное наименование организации ДПО (по Уставу)</label
              >
              <input
                type="text"
                class="spollers-body__input form-input__border"
                id="newListenersFio"
                placeholder=""
              />
              <span class="form__label-three"
                >Наименование организации ДПО по Уставу</span
              >
            </div>
          </div>
          <div class="new-listeners__block block_white">
            <div class="new-listeners_tabs-form__line form__item">
              <div class="form__item-block">
                <label for="newListenersEditFullname" class="form__label"
                  >ФИО руководителя организации ДПО</label
                >
                <input
                  type="text"
                  class="spollers-body__input form-input__border"
                  id="newListenersEditFullname"
                  placeholder=""
                />
              </div>

              <span class="form__label-three"
                >Например: Петров Сергей Васильевич</span
              >
            </div>
          </div>
          <div class="new-listeners__block block_white">
            <div class="new-listeners_tabs-form__line form__item">
              <div class="form__item-block">
                <label for="newListenersAddress" class="form__label"
                  >Юридический адрес</label
                >
                <input
                  type="text"
                  class="spollers-body__input form-input__border"
                  id="newListenersAddress"
                  placeholder=""
                />
              </div>

              <span class="form__label-three"
                >Например: Москва, Ул. Покровка, 14</span
              >
            </div>
          </div>
          <div class="new-listeners__block block_white">
            <div class="new-listeners_tabs-form__line form__item">
              <div class="form__item-block">
                <label for="newListenersOKPO" class="form__label">ОКПО</label>
                <input
                  type="text"
                  class="spollers-body__input form-input__border"
                  id="newListenersOKPO"
                  placeholder=""
                />
              </div>

              <span class="form__label-three"
                >Общероссийский классификатор предприятий и организаций</span
              >
            </div>
          </div>
          <div class="new-listeners__block block_white">
            <div class="new-listeners_tabs-form__line form__item">
              <div class="form__item-block">
                <label for="newListenersIIN" class="form__label">ИНН</label>
                <input
                  type="text"
                  class="spollers-body__input form-input__border"
                  id="newListenersIIN"
                  placeholder=""
                />
              </div>

              <span class="form__label-three"
                >Идентификационный номер налогоплательщика</span
              >
            </div>
          </div>
          <div class="new-listeners__block block_white">
            <div class="new-listeners_tabs-form__line form__item">
              <div class="form__item-block">
                <label for="newListenersKPP" class="form__label">КПП</label>
                <input
                  type="text"
                  class="spollers-body__input form-input__border"
                  id="newListenersKPP"
                  placeholder=""
                />
              </div>

              <span class="form__label-three"
                >Код причины постановки на учет</span
              >
            </div>
          </div>
          <div class="new-listeners__block block_white">
            <div class="new-listeners_tabs-form__line form__item">
              <div class="form__item-block">
                <label for="newListenersOGHN" class="form__label">ОГРН</label>
                <input
                  type="text"
                  class="spollers-body__input form-input__border"
                  id="newListenersOGHN"
                  placeholder=""
                />
              </div>

              <span class="form__label-three"
                >Основной государственный регистрационный номер</span
              >
            </div>
          </div>
          <div class="new-listeners__block block_white">
            <div class="new-listeners_tabs-form__line form__item">
              <div class="form__item-block">
                <label for="newListenersOKTPO" class="form__label">ОКТМО</label>
                <input
                  type="text"
                  class="spollers-body__input form-input__border"
                  id="newListenersOKTPO"
                  placeholder=""
                />
              </div>

              <span class="form__label-three"
                >Общероссийский классификатор территорий муниципальных
                образований</span
              >
            </div>
            <div class="new-listeners__btn">
              <button
                type="submit"
                class="
                  button
                  button_theme_green--empty
                  button_border_small
                  form__submit
                "
              >
                Соранить
              </button>
              <button
                style="margin-left: 30px"
                type="submit"
                class="
                  button button_theme_green button_border_small
                  form__submit
                "
              >
                Сохранить и отправить
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
  <main
    class="content content_cabinet"
    v-if="$store.state.account.userData?.id != 4"
  >
    <section class="form-detail page__section">
      <!-- <ul class="breadcrumbs page__breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Организации</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Регионы</a>
          </li>
          <li class="breadcrumbs__item">
            <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
          </li>
        </ul> -->
      <div class="form-detail__top">
        <h1 class="section-title">
          №{{ formId }} <br />
          {{ form?.title }}
        </h1>
        <span href="#" class="form-detail__subtitle">1 раз в год</span>
      </div>

      <div class="form-detail__wrapper wrapper-max_width-m">
        <div class="tabs form-detail__tabs _tabs">
          <nav class="tabs__navigation">
            <button
              type="submit"
              class="tabs__title _tabs-item"
              :class="{ _active: component === 'CabinetFormDetailStat' }"
              @click="component = 'CabinetFormDetailStat'"
            >
              Статистика формы
            </button>
            <button
              type="submit"
              class="tabs__title _tabs-item"
              :class="{ _active: component === 'CabinetFormDetailEdit' }"
              @click="component = 'CabinetFormDetailEdit'"
            >
              Настройки формы
            </button>
          </nav>
          <div class="tabs__content">
            <keep-alive>
              <component
                :is="component"
                :fields="fields"
                :form="form"
                @save-fields="saveFields()"
              ></component>
            </keep-alive>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
import CabinetFormDetailEdit from "./CabinetFormDetailEdit.vue";
import CabinetFormDetailStat from "./CabinetFormDetailStat.vue";
import { createNamespacedHelpers } from "vuex";

const { mapState, mapActions, mapMutations } =
  createNamespacedHelpers("forms/formDetail");

export default {
  components: { CabinetFormDetailEdit, CabinetFormDetailStat },
  name: "cabinet-form-detail-edit",
  data() {
    return {
      component: "CabinetFormDetailStat",
    };
  },
  methods: {
    ...mapActions(["getForm", "saveFields"]),
    ...mapMutations(["setFormId"]),
  },
  computed: {
    ...mapState({
      form: (state) => state.form,
      fields: (state) => state.fields,
      formId: (state) => state.formId,
    }),
  },
  created() {
    this.setFormId(this.$route.params.formId);
    this.getForm();
  },
};
</script>