<template>
  <div class="tabs__body _tabs-block _active">
    <div class="form-detail-form-wrap">
      <div class="form-detail-form__row row-inputs row-d-flex">
        <div class="form-detail-form__line line-d">
          <div class="form__item">
            <label for="form-detailStatus" class="form__label">Статус</label>
            <input
              type="text"
              class="form__input-edit form__input-edit_width_full"
              id="form-detailStatus"
              placeholder="Введите статус"
            />
          </div>
          <div class="form__item">
            <label for="form-detailDate" class="form__label">Дата</label>
            <input
              type="date"
              name="form-detailDate"
              class="form__input-edit"
              id="detailDate"
            />
          </div>
          <div class="form__item">
            <a href="#" class="filter__reset-link">сбросить</a>
          </div>
        </div>
      </div>
      <div class="form-detail-form__row users__table row-table">
        <div class="row-table__top">
          <div class="row-table__found">Найдено 23</div>
        </div>
        <table class="table form-detail-form__table">
          <tbody>
            <tr class="table__row table__row_head">
              <th class="table__header">Регион</th>
              <th class="table__header">Населенный пункт</th>
              <th class="table__header">Дата заполнения</th>
              <th class="table__header">Согласование</th>
              <th class="table__header">Статус</th>
              <th class="table__header"></th>
            </tr>
            <tr class="table__row">
              <td class="table__cell">Республика Адыгея</td>
              <td class="table__cell">Майкоп</td>
              <td class="table__cell">31.10.2020</td>
              <td class="table__cell">да</td>
              <td class="table__cell">заполнена</td>
              <td class="table__cell">
                <button class="table__cell-users_row-more">
                  <img src="@/assets/images/more_dots.svg" alt="more" />
                </button>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__cell">Нижегородская область</td>
              <td class="table__cell">Дзержинск</td>
              <td class="table__cell">31.10.2020</td>
              <td class="table__cell">да</td>
              <td class="table__cell">заполнена</td>
              <td class="table__cell">
                <button class="table__cell-users_row-more">
                  <img src="@/assets/images/more_dots.svg" alt="more" />
                </button>
              </td>
            </tr>

            <tr class="table__row">
              <td class="table__cell">Республика Адыгея</td>
              <td class="table__cell">Майкоп</td>
              <td class="table__cell">31.10.2020</td>
              <td class="table__cell">да</td>
              <td class="table__cell">заполнена</td>
              <td class="table__cell">
                <button class="table__cell-users_row-more">
                  <img src="@/assets/images/more_dots.svg" alt="more" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "cabinet-form-detail-stat",
  props: {
      form: Object
  }
};
</script>