<template>
  <div>
    <cabinet-header />
    <div class="page__content-wrapper">
      <cabinet-sidebar />
      <router-view />
    </div>
    <cabinet-footer />
  </div>
</template>
<script>
import CabinetFooter from "@/components/Cabinet/CabinetFooter/CabinetFooter.vue";
import CabinetHeader from "@/components/Cabinet/CabinetHeader/CabinetHeader.vue";
import CabinetSidebar from "@/components/Cabinet/CabinetSidebar/CabinetSidebar.vue";

export default {
  name: "Cabinet",
  components: { CabinetSidebar, CabinetHeader, CabinetFooter },
};
</script>