<template>
  <aside
    class="sidebar"
    :class="{ sidebar_opened: isSidebarActive }"
    @mouseover="
      {
        fromSeparatly = false;
      }
    "
    @mouseleave="fromSeparatly = false"
  >
    <button class="sidebar__toggle" @click="toggleSidebar"></button>
    <nav class="sidebar__menu">
      <router-link
        v-if="$store.state.account.userData?.id == 4"
        to="/cabinet/listeners"
        class="sidebar__menu-item"
        :class="{
          'sidebar__menu-item_active': this.$route.path.includes('/listeners'),
        }"
      >
        <i
          class="sidebar__menu-item-icon sidebar__menu-item_icon_listeners"
        ></i>
        <span class="sidebar__menu-item-text">Слушатели</span>
      </router-link>
      <router-link
        to="/cabinet/organizations"
        :class="{
          'sidebar__menu-item_active':
            this.$route.path.includes('/organizations'),
        }"
        class="sidebar__menu-item"
      >
        <i
          class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"
        ></i>
        <span class="sidebar__menu-item-text">Организации</span>
      </router-link>
      <router-link
        to="/cabinet/forms"
        class="sidebar__menu-item"
        :class="{
          'sidebar__menu-item_active': this.$route.path.includes('/forms'),
        }"
      >
        <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
        <span class="sidebar__menu-item-text">Формы</span>
      </router-link>
      <router-link
        v-if="$store.state.account.userData?.id != 4"
        @mouseover="isVisibleSeparatly = fromSeparatly ? false : true"
        to="/cabinet/reports"
        class="sidebar__menu-item"
        :class="{
          'sidebar__menu-item_active':
            this.$route.path.includes('/reports') ||
            this.$route.path.includes('/listeners'),
        }"
      >
        <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
        <span class="sidebar__menu-item-text">Отчеты</span>
      </router-link>
      <div
        style="position: relative"
        v-if="isVisibleSeparatly"
        @mouseleave="
          (e) => {
            isVisibleSeparatly = false;
            fromSeparatly = true;
          }
        "
      >
        <div class="sidebar__menu-items-container">
          <div class="sidebar__menu-item-container">
            <router-link
              to="/cabinet/reports"
              class="sidebar__menu-item sidebar__menu-item_separatly"
            >
              <i
                class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"
              ></i>
              <span
                class="
                  sidebar__menu-item-text sidebar__menu-item-text_separatly
                "
                >Отчеты</span
              >
            </router-link>
          </div>
          <div class="sidebar__menu-item-container">
            <router-link
              to="/cabinet/listeners"
              class="sidebar__menu-item sidebar__menu-item_separatly"
            >
              <i
                class="
                  sidebar__menu-item-icon sidebar__menu-item_icon_listeners
                "
              ></i>
              <span
                class="
                  sidebar__menu-item-text sidebar__menu-item-text_separatly
                "
                >Отчеты<br />по слушателям</span
              >
            </router-link>
          </div>
        </div>
      </div>
      <router-link
        v-if="$store.state.account.userData?.id != 4"
        to="/cabinet/map"
        class="sidebar__menu-item"
        :class="{
          'sidebar__menu-item_active': this.$route.path.includes('/map'),
        }"
      >
        <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
        <span class="sidebar__menu-item-text">Карта</span>
      </router-link>
      <router-link
        v-if="$store.state.account.userData?.id === 3"
        to="/cabinet/users"
        :class="{
          'sidebar__menu-item_active': this.$route.path.includes('/users'),
        }"
        class="sidebar__menu-item"
      >
        <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
        <span class="sidebar__menu-item-text">Пользователи</span>
      </router-link>
    </nav>
  </aside>
</template>
<script>
export default {
  name: "CabinetSidebar",
  data() {
    return {
      isSidebarActive: false,
      isVisibleSeparatly: false,
      fromSeparatly: false,
    };
  },
  methods: {
    toggleSidebar() {
      console.log(this.$route);
      this.isSidebarActive = !this.isSidebarActive;
    },
  },
};
</script>