<template>
  <div class="tabs__body _tabs-block _active">
    <form class="tabs__body-form form reports_tabs-form reports_tabs-form--one">
      <div class="reports_tabs-form-wrap reports-wrap">
        <div class="reports-wrap__top">
          <div class="reports_tabs-form__row row-name_report">
            <div class="reports_tabs-form__line form__item">
              <label for="reportsTabsSecondName" class="form__label"
                >Название отчета</label
              >
              <input
                type="text"
                class="form__input-edit form__input-edit_width_full"
                id="reportsTabsSecondName"
                placeholder="№3456  Сведения о организации дополнительного профессионального образования"
              />
            </div>
          </div>
          <div class="reports_tabs-form__row row-bottom">
            <div class="reports_tabs-form__line form__item">
              <label for="reportsRegion" class="form__label">Регион</label>
              <select class="form__select form__select_theme_white">
                <option>Выберите регион</option>
              </select>
            </div>
            <div class="reports_tabs-form__line form__item">
              <div class="reports__dates">
                <label for="reportsDateFrom" class="form__label">Дата</label>
                <div class="reports__dates-wrap">
                  <div class="reports__dates-inputs">
                    <input
                      type="date"
                      name="reportsDateFrom"
                      class="form__input-edit form__input-edit_el_date-from"
                      id="dateFrom"
                    />
                    <div class="reports__dates-inputs__line"></div>
                    <input
                      type="date"
                      name="reportsDateTo"
                      class="form__input-edit form__input-edit_el_date-to"
                      id="dateTo"
                    />
                  </div>
                  <a
                    href="#"
                    class="filter__reset-link reports-search__reset-link"
                    >Сбросить</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="reports__row row-table">
          <div class="table_header">
            <ul>
              <li>
                <a href="#" class="table_header-icon_star">Добавить в шаблон</a>
              </li>
              <li>
                <a href="#" class="table_header-icon_download"
                  >Скачать в формате csv</a
                >
              </li>
              <li>
                <a href="#" class="table_header-icon_download"
                  >Скачать в формате xls</a
                >
              </li>
            </ul>
          </div>
          <div class="row-table__top">
            <div class="row-table__found table-found">Найдено 3</div>
          </div>
          <table class="table reports__table users__table">
            <tbody>
              <tr class="table__row table__row_head">
                <th class="table__header">Дата</th>
                <th class="table__header">Автор</th>
                <th class="table__header">Регион</th>
                <th class="table__header">
                  Полное наименование организации ДПО (по Уставу)
                </th>
                <th class="table__header">ФИО руководителя организации ДПО</th>
                <th class="table__header">Юридический адрес</th>
                <th class="table__header">Дата регистрации</th>
                <th class="table__header">Дата последнего входа</th>
                <th class="table__header"></th>
              </tr>
              <tr class="table__row">
                <td class="table__cell">11.12.2021</td>
                <td class="table__cell">Сагеева Гульнара Ханифовна</td>
                <td class="table__cell">Республика Татарстан</td>
                <td class="table__cell">Институт развития образования Республики Татарстан</td>
                <td class="table__cell">Нугуманова Людмила Николаевна</td>
                <td class="table__cell">г. Казань, ул. Большая Красная, 68</td>
                <td class="table__cell">01.12.2021</td>
                <td class="table__cell">11.12.2021</td>
                <td class="table__cell">
                  <button class="table__cell-users_row-more">
                    <img src="@/assets/images/more_dots.svg" alt="more" />
                  </button>
                </td>
              </tr>
              <tr class="table__row">
                <td class="table__cell">12.12.2021</td>
                <td class="table__cell">Жигулина Марина Леонидовна</td>
                <td class="table__cell">Свердловская область</td>
                <td class="table__cell">Институт развития образования Свердловской области</td>
                <td class="table__cell">Тренихина Светлана Юрьевна</td>
                <td class="table__cell">г. Екатеринбург, ул. Академическая, 16</td>
                <td class="table__cell">02.12.2021</td>
                <td class="table__cell">12.12.2021</td>
                <td class="table__cell">
                  <button class="table__cell-users_row-more">
                    <img src="@/assets/images/more_dots.svg" alt="more" />
                  </button>
                </td>
              </tr>
              <tr class="table__row">
                <td class="table__cell">13.12.2021</td>
                <td class="table__cell">Москвитина Лариса Николаевна</td>
                <td class="table__cell">Белгородская область</td>
                <td class="table__cell">Белгородский институт развития образования</td>
                <td class="table__cell">Бучек Альбина Александровна</td>
                <td class="table__cell">г. Белгород, ул. Студенческая, д. 14</td>
                <td class="table__cell">03.12.2021</td>
                <td class="table__cell">13.12.2021</td>
                <td class="table__cell">
                  <button class="table__cell-users_row-more">
                    <img src="@/assets/images/more_dots.svg" alt="more" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
    export default {
        name: "cabinet-reports-detal",
    }
</script>
