<template>
  <div class="tabs__body _tabs-block _active">
    <form class="tabs__body-form form reports_tabs-form reports_tabs-form--two">
      <div class="reports_tabs-form-wrap reports-wrap">
        <div class="repots__row row-spollers">
          <div data-spollers class="spollers">
            <div class="spollers__item">
              <button type="button" data-spoller class="spollers__title">
                <span> №3456 Сведения о организацях ДПО</span>
              </button>
              <div class="spollers__body">
                <div class="spollers__body-wrap">
                  <div class="spollers__body-line">
                    <div class="spollers__body-caption form__label-two">
                      ФОРМА
                    </div>
                    <div class="spollers__body-info">
                      <input
                        autocomplete="off"
                        type="text"
                        name="form[]"
                        placeholder="№3456  Сведения о организации дополнительного профессионального..."
                        class="spollers__body-input form-input__border"
                      />
                    </div>
                    <div class="spollers__body-caption_small">
                      Форма для формирования отчета
                    </div>
                  </div>
                  <div class="spollers__body-line">
                    <div class="spollers__body-caption form__label-two">
                      Регион
                    </div>
                    <div class="spollers__body-info">
                      <select class="form__select form__select_theme_white">
                        <option>Выберите регион</option>
                      </select>
                    </div>
                    <div class="spollers__body-caption_small">
                      Регион для формирования отчета
                    </div>
                  </div>
                  <div class="spollers__body-line">
                    <div class="spollers__body-caption form__label-two">
                      период
                    </div>
                    <div class="spollers__body-info body-sel">
                      <div class="spollers__body-date">
                        <div class="spollers__body-inp">
                          <div class="spollers__body-sel">
                            <select
                              class="form__select form__select_theme_white"
                            >
                              <option>Выберите регион</option>
                            </select>
                          </div>

                          <div class="spollers__body-caption_small">Дата с</div>
                        </div>
                        <div class="spollers__body-inp">
                          <div class="spollers__body-sel">
                            <select
                              class="form__select form__select_theme_white"
                            >
                              <option>Выберите регион</option>
                            </select>
                          </div>
                          <div class="spollers__body-caption_small">
                            Дата по
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="spollers__body-btn">
                      <button
                        type="submit"
                        class="
                          button button_theme_green button_border_small
                          form__submit
                        "
                      >
                        Создать отчет
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="spollers__item">
              <button type="button" data-spoller class="spollers__title">
                <span> №3456 Сведения о организацях ДПО</span>
              </button>
              <div class="spollers__body">
                <div class="spollers__body-wrap">
                  <div class="spollers__body-line">
                    <div class="spollers__body-caption form__label-two">
                      ФОРМА
                    </div>
                    <div class="spollers__body-info">
                      <input
                        autocomplete="off"
                        type="text"
                        name="form[]"
                        placeholder="№3456  Сведения о организации дополнительного профессионального..."
                        class="spollers__body-input form-input__border"
                      />
                    </div>
                    <div class="spollers__body-caption_small">
                      Форма для формирования отчета
                    </div>
                  </div>
                  <div class="spollers__body-line">
                    <div class="spollers__body-caption form__label-two">
                      Регион
                    </div>
                    <div class="spollers__body-info">
                      <select class="form__select form__select_theme_white">
                        <option>Выберите регион</option>
                      </select>
                    </div>
                    <div class="spollers__body-caption_small">
                      Регион для формирования отчета
                    </div>
                  </div>
                  <div class="spollers__body-line">
                    <div class="spollers__body-caption form__label-two">
                      период
                    </div>
                    <div class="spollers__body-info">
                      <div class="spollers__body-date">
                        <div class="spollers__body-inp">
                          <div class="spollers__body-sel">
                            <select
                              class="form__select form__select_theme_white"
                            >
                              <option>Выберите регион</option>
                            </select>
                          </div>

                          <div class="spollers__body-caption_small">Дата с</div>
                        </div>
                        <div class="spollers__body-inp">
                          <div class="spollers__body-sel">
                            <select
                              class="form__select form__select_theme_white"
                            >
                              <option>Выберите регион</option>
                            </select>
                          </div>
                          <div class="spollers__body-caption_small">
                            Дата по
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "cabinet-templates",
};
</script>
<style scoped>
.form__select {
  width: 150px;
}
</style>