<template>
  <div class="tabs__body _tabs-block _active">
    <form
      class="tabs__body-form form reports_tabs-form reports_tabs-form--three"
    >
      <div class="reports_tabs-form-wrap reports-wrap">
        <div class="reports-wrap__top">
          <div class="reports_tabs-form__row row-name_report">
            <div class="reports_tabs-form__row row-bottom">
              <div class="reports_tabs-form__line form__item">
                <div class="reports__dates">
                  <label for="reportsDateFrom" class="form__label">Дата</label>
                  <div class="reports__dates-wrap">
                    <div class="reports__dates-inputs">
                      <input
                        type="date"
                        name="reportsDateFrom"
                        class="form__input-edit form__input-edit_el_date-from"
                        id="dateFrom"
                      />
                      <div class="reports__dates-inputs__line"></div>
                      <input
                        type="date"
                        name="reportsDateTo"
                        class="form__input-edit form__input-edit_el_date-to"
                        id="dateTo"
                      />
                    </div>
                    <a
                      href="#"
                      class="filter__reset-link reports-search__reset-link"
                      >Сбросить</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="reports__row row-table">
          <div class="row-table__top">
            <div class="row-table__found table-found">Найдено 1</div>
          </div>
          <table class="table reports__table users__table">
            <tbody>
              <tr class="table__row table__row_head">
                <th class="table__header">Дата</th>
                <th class="table__header">Отчет</th>
                <th class="table__header">Регион</th>
                <th class="table__header">Период</th>
                <th class="table__header"></th>
              </tr>
              <tr class="table__row">
                <td class="table__cell">
                  22.12.2021 <br />
                  10:32
                </td>
                <td class="table__cell">
                  №3456 Сведения о организации дополнительного профессионального
                  образования
                </td>
                <td class="table__cell">Все</td>
                <td class="table__cell">20.11.2021-30.12.2021</td>
                <td class="table__cell">
                  <button class="table__cell-users_row-more">
                    <img src="@/assets/images/more_dots.svg" alt="more" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "cabinet-history-requests",
};
</script>