<template>
  <main class="content content_cabinet">
    <section class="profile page__section">
      <h1 class="section-title mb-50">профиль</h1>
      <div class="profile__wrapper wrapper-max_width-m">
        <div class="profile__row profile__top top-profile">
          <div class="top-profile__job">Министр</div>
          <div class="top-profile__images">
            <img :src="imageSrc" alt="user-ava" v-if="userData"/>
          </div>
          <div class="top-profile__btn">
            <button
              type="submit"
              class="
                button
                button_theme_green--empty
                button_border_small
                form__submit
              "
              @click="loadImage"
            >
              Загрузить фото
            </button>
            <input type="file" style="display: none;" ref="downoloadInput" @change="e => e.target.files.length && saveUserImage(e.target.files[0])"/>
          </div>
        </div>
        <div class="profile__row profile__bottom bottom-profile">
          <div class="tabs profile__tabs _tabs">
            <nav class="tabs__navigation">
              <button
                @click="() => setActiveTab('userData')"
                type="submit"
                class="tabs__title _tabs-item"
                :class="{ _active: activeTab === 'userData' }"
              >
                Личные данные
              </button>
              <button
                @click="() => setActiveTab('changePassword')"
                type="submit"
                class="tabs__title _tabs-item"
                :class="{ _active: activeTab === 'changePassword' }"
              >
                Сменить пароль
              </button>
            </nav>
            <div class="tabs__content">
              <div
                v-if="activeTab === 'userData'"
                class="tabs__body _tabs-block _active"
              >
                <form
                  @submit.prevent
                  class="
                    tabs__body-form
                    form
                    profile_tabs-form profile_tabs-form--one
                  "
                >
                  <div class="profile_tabs-form-wrap">
                    <div class="profile_tabs-form__row">
                      <div class="profile_tabs-form__line form__item">
                        <label class="form__label">Email</label>
                        <span>{{ "info@edu.gov.ru" }}</span>
                      </div>
                      <div class="profile_tabs-form__line form__item">
                        <label for="profileTabsSecondName" class="form__label"
                          >Фамилия</label
                        >
                        <textarea
                          type="text"
                          class="form__input-edit form__input-edit_width_full"
                          id="profileTabsSecondName"
                          v-model="secondName"
                          placeholder="Ваша фамилия"
                        />
                      </div>
                      <div class="profile_tabs-form__line form__item">
                        <label for="profileTabsFirstName" class="form__label"
                          >Имя</label
                        >
                        <textarea
                          type="text"
                          class="form__input-edit form__input-edit_width_full"
                          id="profileTabsFirstName"
                          v-model="firstName"
                          placeholder="Ваше имя"
                        />
                      </div>
                      <div class="profile_tabs-form__line form__item">
                        <label for="profileTabsPatronymic" class="form__label"
                          >Отчество</label
                        >
                        <textarea
                          type="text"
                          class="form__input-edit form__input-edit_width_full"
                          id="profileTabsPatronymic"
                          v-model="lastName"
                          placeholder="Ваше отчество"
                        />
                      </div>
                    </div>

                    <div class="profile_tabs-form__row">
                      <div class="profile_tabs-form__line form__item">
                        <label class="form__label">Регион, Город</label>
                        <span>{{ "г. Москва" }}</span>
                      </div>
                      <div class="profile_tabs-form__line form__item">
                        <label for="profileTabsJob" class="form__label"
                          >Место работы</label
                        >
                        <textarea
                          type="text"
                          class="form__input-edit form__input-edit_width_full"
                          id="profileTabsJob"
                          :value="userData?.id == 4 ? 'ГБОУ ВО МО «Академия социального управления»' : userData?.id == 1 ? 'Министерство просвещения' : ''"
                          placeholder="Название организации"
                        />
                      </div>
                      <div class="profile_tabs-form__line form__item">
                        <label for="profileTabsPosition" class="form__label"
                          >Должность</label
                        >
                        <textarea
                          type="text"
                          class="form__input-edit form__input-edit_width_full"
                          id="profileTabsPosition"
                          :value="userData?.id == 4 ? 'Проректор' : userData?.id == 1 ? 'Министр просвещения' : ''"
                          placeholder="Выберите должность"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="profile_tabs-form__btn">
                    <button
                      type="submit"
                      @click="saveUserData"
                      class="
                        button button_theme_green button_border_small
                        form__submit
                      "
                    >
                      Сохранить изменения
                    </button>
                  </div>
                </form>
              </div>
              <div
                v-if="activeTab === 'changePassword'"
                class="tabs__body _tabs-block _active"
              >
                <form
                  @submit.prevent
                  class="
                    tabs__body-form
                    form
                    profile_tabs-form profile_tabs-form--two
                  "
                >
                  <div class="profile_tabs-form-wrap">
                    <div class="profile_tabs-form__row">
                      <div class="profile_tabs-form__line form__item">
                        <label for="profileTabsPasswordOld" class="form__label"
                          >Старый пароль</label
                        >
                        <input
                          type="password"
                          class="form__input-edit form__input-edit_width_full"
                          id="profileTabsPasswordOld"
                          v-model="oldPassword"
                          placeholder="Ваш старый пароль"
                        />
                      </div>
                      <div class="profile_tabs-form__line form__item">
                        <label for="profileTabsPasswordNew" class="form__label"
                          >Новый пароль</label
                        >
                        <input
                          type="password"
                          class="form__input-edit form__input-edit_width_full"
                          id="profileTabsPasswordNew"
                          placeholder="Ваш новый пароль"
                          v-model="newPassword"
                        />
                      </div>
                      <div class="profile_tabs-form__line form__item">
                        <label
                          for="profileTabsPasswordNewRepeat"
                          class="form__label"
                          >Повторить новый пароль</label
                        >
                        <input
                          type="password"
                          class="form__input-edit form__input-edit_width_full"
                          id="profileTabsPasswordNewRepeat"
                          placeholder="Повторить ваш новый пароль"
                          v-model="passwordConfirm"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="profile_tabs-form__btn">
                    <button
                      type="submit"
                      class="
                        button button_theme_green button_border_small
                        form__submit
                      "
                      @click="changePassword"
                    >
                      Сохранить изменения
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  name: "CabinetProfile",
  data() {
    return {
      activeTab: "userData",
    };
  },
  methods: {
    setActiveTab(tab) {
      this.activeTab = tab;
    },
    ...mapActions({
      saveUserData: "profile/saveUserData",
      saveUserImage: "profile/saveUserImage",
      changePassword: "profile/changePassword"
    }),
    ...mapMutations({
      setFirstName: "profile/setFirstName",
      setSecondName: "profile/setSecondName",
      setLastName: "profile/setLastName",
      setNewPassword: "profile/setNewPassword",
      setPasswordConfirm: "profile/setPasswordConfirm",
      setOldPassword: "profile/setOldPassword",
    }),
    loadImage() {
      this.$refs.downoloadInput.click()
    }
  },
  computed: {
    ...mapState({
      userData: (state) => state.profile.formData,
      formPassword: state => state.profile.formPassword
    }),
    firstName: {
      get() {
        return this.userData?.first_name;
      },
      set(val) {
        this.setFirstName(val);
      },
    },
    secondName: {
      get() {
        return this.userData?.second_name;
      },
      set(val) {
        this.setSecondName(val);
      },
    },
    lastName: {
      get() {
        return this.userData?.last_name;
      },
      set(val) {
        this.setLastName(val);
      },
    },
    oldPassword: {
      get() {
        return this.formPassword.oldPassword
      },
      set(val) {
        this.setOldPassword(val)
      }
    },
    newPassword: {
      get() {
        return this.formPassword.newPassword
      },
      set(val) {
        this.setNewPassword(val)
      }
    },
    passwordConfirm: {
      get() {
        return this.formPassword.passwordConfirm
      },
      set(val) {
        this.setPasswordConfirm(val)
      }
    },
    email: function () {
      return this.userData?.email;
    },
    regionName: function () {
      return this.userData?.region?.title;
    },
    organizationName: function () {
      return this.userData?.organization?.title;
    },
    position: function () {
      return this.userData?.position?.title;
    },
    imageSrc: function() {
      const image = this.userData?.image
      console.log(image)
      return image ? 'http://api.efs.demostorage.site/storage' + image : "@/assets/images/user_avatar.png"
    }
  },
};
</script>
