<template>
  <main class="content content_cabinet">
    <section class="region-detail region-detail-cabinet page__section">
      <ul class="breadcrumbs page__breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Организации</a>
        </li>
        <li class="breadcrumbs__item">
          <router-link to="/cabinet/organizations" class="breadcrumbs__link"
            >Субъекты</router-link
          >
        </li>
        <li class="breadcrumbs__item">
          <span href="#" class="breadcrumbs__link breadcrumbs__link_current">{{
            regionName
          }}</span>
        </li>
      </ul>

      <h1 class="section-title">{{ regionName }}</h1>
      <ul class="stat-panels region-detail__stat-panels">
        <data-block
          :title="statPart.title"
          :value="statPart.value"
          v-for="statPart in regionStat"
          :key="statPart.title"
        />
        <!-- <data-block title="Региональных методистов" value="0" />
        <data-block title="Муниципальных методистов" value="0" />
        <data-block
          title="Слушателей «Школы современного учителя»"
          v-if="regionId == 10"
          value="679"
        />
        <data-block
          title="Слушателей «Школы современного учителя»"
          v-if="regionId == 78"
          value="835"
        />
        <data-block
          title="Слушателей «Школы современного учителя»"
          v-if="regionId == 58"
          value="1413"
        />
        <data-block
          title="Слушателей «Школы современного учителя»"
          v-if="regionId == 68"
          value="1564"
        />
        <data-block
          title="Слушателей «Школы современного учителя»"
          v-if="regionId == 62"
          value="1389"
        />
        <data-block
          title="Слушателей «Методика СПО»"
          v-if="regionId == 10"
          value="275"
        />
        <data-block
          title="Слушателей «Методика СПО»"
          v-if="regionId == 78"
          value="83"
        />
        <data-block
          title="Слушателей «Методика СПО»"
          v-if="regionId == 58"
          value="612"
        />
        <data-block
          title="Слушателей «Методика СПО»"
          v-if="regionId == 68"
          value="182"
        />
        <data-block
          title="Слушателей «Методика СПО»"
          v-if="regionId == 62"
          value="420"
        /> -->
      </ul>
      <form class="form region-detail__search form-width-m">
        <input
          type="text"
          name="search"
          class="
            form__input-edit
            form__input-edit_type_search
            form__input-edit_width_full
          "
          id="search"
        />
      </form>
      <table class="table region-detail__table-orgs">
        <tr class="table__row table__row_head">
          <th class="table__header">Организация</th>
          <th class="table__header">Директор</th>
          <th class="table__header">Программы</th>
          <th class="table__header">Форм заполнено</th>
          <th class="table__header">Рейтинг по региону</th>
          <th class="table__header">Рейтинг по стране по региону</th>
        </tr>
        <tr
          @click="
            $router.push(
              `/cabinet/organizations/${regionId}/${organization.id}`
            )
          "
          class="table__row"
          v-for="organization in organizations"
          :key="organization.id"
        >
          <td class="table__cell">{{ organization.title_short }}</td>
          <td class="table__cell">{{ organization.mainEmployee?.name }}</td>
          <td class="table__cell"></td>
          <td class="table__cell"></td>
          <td class="table__cell"></td>
          <td class="table__cell"></td>
        </tr>
      </table>
    </section>
  </main>
</template>
<script>
import { createNamespacedHelpers } from "vuex";
const { mapActions, mapState, mapMutations } = createNamespacedHelpers(
  "organizations/organizationsRegionInfo"
);

export default {
  name: "CabinetRegionDetail",
  methods: {
    ...mapActions(["getRegionStat", "getOrganizations", "getRegion"]),
    ...mapMutations(["setRegionId"]),
  },
  computed: {
    ...mapState({
      organizations: (state) => state.organizations,
      regionStat: (state) => state.regionStat,
      regionId: (state) => state.regionId,
      region: (state) => state.region,
    }),
    regionName: function () {
      return this.region?.title;
    },
    // programs: function () {
    //   let programs = null;
    //   switch (this.regionId) {
    //     case "58": {
    //       programs = 21;
    //       break;
    //     }
    //     case "10": {
    //       programs = 9;
    //       break;
    //     }
    //     case "68": {
    //       programs = 19;
    //       break;
    //     }
    //     case "62": {
    //       programs = 39;
    //       break;
    //     }
    //     case "78": {
    //       programs = 3;
    //       break;
    //     }
    //   }
    //   return programs;
    // },
    // forms: function () {
    //   let forms = null;
    //   switch (this.regionId) {
    //     case "58": {
    //       forms = "1/8";
    //       break;
    //     }
    //     case "10": {
    //       forms = "1/8";
    //       break;
    //     }
    //     case "68": {
    //       forms = "1/8";
    //       break;
    //     }
    //     case "62": {
    //       forms = "1/8";
    //       break;
    //     }
    //     case "78": {
    //       forms = "1/8";
    //       break;
    //     }
    //   }
    //   return forms;
    // },
    // ratingRegion: function () {
    //   let rating = null;
    //   switch (this.regionId) {
    //     case "58": {
    //       rating = "1/50";
    //       break;
    //     }
    //     case "10": {
    //       rating = "1/50";
    //       break;
    //     }
    //     case "68": {
    //       rating = "1/50";
    //       break;
    //     }
    //     case "62": {
    //       rating = "1/50";
    //       break;
    //     }
    //     case "78": {
    //       rating = "1/50";
    //       break;
    //     }
    //   }
    //   return rating;
    // },
    // ratingCountry: function () {
    //   let rating = null;
    //   switch (this.regionId) {
    //     case "58": {
    //       rating = "2/85";
    //       break;
    //     }
    //     case "10": {
    //       rating = "4/85";
    //       break;
    //     }
    //     case "68": {
    //       rating = "2/85";
    //       break;
    //     }
    //     case "62": {
    //       rating = "1/85";
    //       break;
    //     }
    //     case "78": {
    //       rating = "5/85";
    //       break;
    //     }
    //   }
    //   return rating;
    // },
  },
  created() {
    this.setRegionId(this.$route.params.regionId);
    this.getRegionStat();
    this.getOrganizations(true);
    this.getRegion();
  },
};
</script>