<template>
  <cabinet-header />
  <div class="page__content-wrapper">
    <cabinet-sidebar />
    <router-view />
  </div>
  <cabinet-footer />
</template>
<script>
import CabinetFooter from "@/components/Cabinet/CabinetFooter/CabinetFooter.vue";
import CabinetHeader from "@/components/Cabinet/CabinetHeader/CabinetHeader.vue";
import CabinetSidebar from "@/components/Cabinet/CabinetSidebar/CabinetSidebar.vue";

import { routeGuard } from "@/mixins/routeGuard";

export default {
  name: "Cabinet",
  components: { CabinetSidebar, CabinetHeader, CabinetFooter },
  mixins: [routeGuard],
  beforeRouteEnter(to, from, next) {
    next((vm) => vm.routeGuard(to, vm));
  },
};
</script>