<template>
  <main class="content content_cabinet">
    <section class="interactive-map page__section page__section_margin-top-s">
      <h1 class="section-title">Интерактивная карта</h1>
      <div class="filter interactive-map__filter">
        <form class="form interactive-map__form" @submit.prevent>
          <fieldset class="form__fieldset form__fieldset_row">
            <!-- <div class="form__item form__item_row form__item_width_s">
              <label for="view-area" class="form__label"
                >Область отображения</label
              >
              <select
                name="view-area"
                class="form__select form__select_theme_white"
                id="view-area"
                v-model="subjectsValue"
              >
                <option value="Субъекты" class="select__option">
                  Субъекты
                </option>
                <option value="Федеральные округа" class="select__option">
                  Федеральные округа
                </option>
              </select>
            </div> -->
            <!-- <div class="form__item form__item_row form__item_width_s">

              <label for="district" class="form__label">Выбрать регион</label>
              <select
                name="district"
                class="form__select form__select_theme_white"
                id="district"
                @change="
                  (e) => {
                    setCurrentRegionId(e.target.value);
                    getRegionStat();
                  }
                "
              >
                <option
                  :value="region.id"
                  :key="region.id"
                  class="select__option"
                  v-for="region in regions"
                >
                  {{ region.title }}
                </option>
              </select>
              <div class="form__choosen-options">
                <a href="#" class="form__choosen-option">Москва</a>
                <a href="#" class="form__choosen-option">Санкт-Петербург</a>
              </div> </div> -->
            <div class="form__item form__item_row form__item_width_s">
              <label for="district" class="form__label">Выбрать регион</label>
              <search-input
                inputClasses="form__input-edit form__input-edit_type_search"
                inputPlaceholder="Введите"
                @search="regionName = $event"
              />
              <!-- <div class="form__choosen-options">
                <a href="#" class="form__choosen-option">Москва</a>
                <a href="#" class="form__choosen-option">Санкт-Петербург</a>
              </div> -->
            </div>
            <div class="form__item form__item_row form__item_width_s">
              <label for="period" class="form__label">Период</label>
              <select
                name="period"
                class="form__select form__select_theme_white"
                id="period"
                v-model="periodValue"
              >
                <option value="Ноябрь 2021" class="select__option">
                  Ноябрь 2021
                </option>
              </select>
            </div>
          </fieldset>
          <a
            @click="clearFilters"
            href="#"
            class="filter__reset-link interactive-map__reset-link"
            >Сбросить</a
          >
        </form>
      </div>
      <ul class="map-color-legend interactive-map__map-color-legend">
        <li class="map-color-legend__item">
          <span class="map-color-legend__text">Показатели ниже нормы</span>
        </li>
        <li class="map-color-legend__item">
          <span class="map-color-legend__text">Просрочена отчетность</span>
        </li>
        <li class="map-color-legend__item">
          <span class="map-color-legend__text">Показатели в норме</span>
        </li>
      </ul>
      <Map
        baseUrl="/cabinet"
        @handler-click-map="handlerGetRegionStat($event)"
        :regionNameInput="regionName"
      />
    </section>
    <section class="region-statistic page__section page__section_mt_l">
      <h2 class="section-title">{{ regionName }}</h2>
      <ul class="stat-panels region-detail__stat-panels">
        <data-block :title="statPart.title" :value="statPart.value" v-for="statPart in regionStat" :key="statPart.code"/>
      </ul>
    </section>
  </main>
</template>
<script>
import { mapActions, mapState } from "vuex";
import Map from "../../../components/Map/Map.vue";
import { useTippy } from "vue-tippy";
import { ref } from "@vue/reactivity";
import { h } from "@vue/runtime-core";

export default {
  name: "CabinetMap",
  components: {
    Map,
  },
  data() {
    return {
      regionName: "",
      subjectsValue: "Субъекты",
      periodValue: "Ноябрь 2021",
    };
  },
  computed: {
    ...mapState({
      regions: (state) => state.location.regions.regions,
      regionStat: (state) => state.regionStat.regionStat,
      regionStatLoaded: (state) => state.regionStat.loaded,
    }),
  },
  methods: {
    ...mapActions({
      getRegions: "regions/getRegions",
      getRegionStat: "regionStat/getRegionStat",
      setCurrentRegionId: "regionStat/setCurrentRegionId",
    }),
    clearFilters() {
      this.regionName = "";
      this.subjectsValue = "Субъекты";
      this.periodValue = "Ноябрь 2021";
    },
    handlerGetRegionStat({title, regionId}) {
      this.regionName = title;
      this.setCurrentRegionId(regionId)
      this.getRegionStat()
    },
  }
};
</script>
<style scoped>
/deep/.map-region__region * {
  fill: #3d495e;
  cursor: pointer;
  transition: all ease 0.3s;
}

/deep/.map-region__region_category_2 * {
  fill: #d9e4f2;
}

/deep/ * {
  fill: #839ece;
}

/deep/.map-region__region:hover * {
  stroke: #2fd385;
  stroke-width: 2;
}
</style>
