<template>
  <article class="news-card">
    <img
      :src="'http://api.efs.demostorage.site/storage' + postData.preview_image"
      :alt="postData.alt"
      class="news-card__cover"
    />
    <p class="news-card__date">
      {{ new Date(postData.published_at).toLocaleDateString() }}
    </p>
    <router-link :to="'/news/' + postData.slug" class="card-title news-card__card-title">{{
      postData.title
    }}</router-link>
    <p class="news-card__text">
      {{ postData.preview_text }}
    </p>
  </article>
</template>
<script>
export default {
  name: "NewsPost",
  props: {
    postData: Object,
  },
};
</script>