<template>
  <main class="content">
    <section class="regions-page page__section page__section_width_content">
      <h1 class="section-title page__title">Субъекты</h1>
      <form class="form form-width-m regions-page__search">
        <search-input @search="getRegions($event)" />
      </form>
      <div class="regions-page__region-search">
        <div class="regions-page__letters">
          <div class="hex-menu" @click="changeChar">
            <div class="hex-menu__row">
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['А'].disabled,
                  'hex-menu__item_active': charStatuses['А'].active,
                }"
                class="hex hex-menu__item"
                >А</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Б'].disabled,
                  'hex-menu__item_active': charStatuses['Б'].active,
                }"
                class="hex hex-menu__item"
                >Б</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['В'].disabled,
                  'hex-menu__item_active': charStatuses['В'].active,
                }"
                class="hex hex-menu__item"
                >В</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Г'].disabled,
                  'hex-menu__item_active': charStatuses['Г'].active,
                }"
                class="hex hex-menu__item"
                >Г</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Д'].disabled,
                  'hex-menu__item_active': charStatuses['Д'].active,
                }"
                class="hex hex-menu__item"
                >Д</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Е'].disabled,
                  'hex-menu__item_active': charStatuses['Е'].active,
                }"
                class="hex hex-menu__item"
                >Е</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ё'].disabled,
                  'hex-menu__item_active': charStatuses['Ё'].active,
                }"
                class="hex hex-menu__item"
                >Ё</a
              >
            </div>
            <div class="hex-menu__row">
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ж'].disabled,
                  'hex-menu__item_active': charStatuses['Ж'].active,
                }"
                class="hex hex-menu__item"
                >Ж</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['З'].disabled,
                  'hex-menu__item_active': charStatuses['З'].active,
                }"
                class="hex hex-menu__item"
                >З</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['И'].disabled,
                  'hex-menu__item_active': charStatuses['И'].active,
                }"
                class="hex hex-menu__item"
                >И</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Й'].disabled,
                  'hex-menu__item_active': charStatuses['Й'].active,
                }"
                class="hex hex-menu__item"
                >Й</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['К'].disabled,
                  'hex-menu__item_active': charStatuses['К'].active,
                }"
                class="hex hex-menu__item"
                >К</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Л'].disabled,
                  'hex-menu__item_active': charStatuses['Л'].active,
                }"
                class="hex hex-menu__item"
                >Л</a
              >
            </div>
            <div class="hex-menu__row">
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['М'].disabled,
                  'hex-menu__item_active': charStatuses['М'].active,
                }"
                class="hex hex-menu__item"
                >М</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Н'].disabled,
                  'hex-menu__item_active': charStatuses['Н'].active,
                }"
                class="hex hex-menu__item"
                >Н</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['О'].disabled,
                  'hex-menu__item_active': charStatuses['О'].active,
                }"
                class="hex hex-menu__item"
                >О</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['П'].disabled,
                  'hex-menu__item_active': charStatuses['П'].active,
                }"
                class="hex hex-menu__item"
                >П</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Р'].disabled,
                  'hex-menu__item_active': charStatuses['Р'].active,
                }"
                class="hex hex-menu__item"
                >Р</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['С'].disabled,
                  'hex-menu__item_active': charStatuses['С'].active,
                }"
                class="hex hex-menu__item"
                >С</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Т'].disabled,
                  'hex-menu__item_active': charStatuses['Т'].active,
                }"
                class="hex hex-menu__item"
                >Т</a
              >
            </div>
            <div class="hex-menu__row">
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['У'].disabled,
                  'hex-menu__item_active': charStatuses['У'].active,
                }"
                class="hex hex-menu__item"
                >У</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ф'].disabled,
                  'hex-menu__item_active': charStatuses['Ф'].active,
                }"
                class="hex hex-menu__item"
                >Ф</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Х'].disabled,
                  'hex-menu__item_active': charStatuses['Х'].active,
                }"
                class="hex hex-menu__item"
                >Х</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ц'].disabled,
                  'hex-menu__item_active': charStatuses['Ц'].active,
                }"
                class="hex hex-menu__item"
                >Ц</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ч'].disabled,
                  'hex-menu__item_active': charStatuses['Ч'].active,
                }"
                class="hex hex-menu__item"
                >Ч</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ш'].disabled,
                  'hex-menu__item_active': charStatuses['Ш'].active,
                }"
                class="hex hex-menu__item"
                >Ш</a
              >
            </div>
            <div class="hex-menu__row">
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Щ'].disabled,
                  'hex-menu__item_active': charStatuses['Щ'].active,
                }"
                class="hex hex-menu__item"
                >Щ</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ъ'].disabled,
                  'hex-menu__item_active': charStatuses['Ъ'].active,
                }"
                class="hex hex-menu__item"
                >Ъ</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ы'].disabled,
                  'hex-menu__item_active': charStatuses['Ы'].active,
                }"
                class="hex hex-menu__item"
                >Ы</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ь'].disabled,
                  'hex-menu__item_active': charStatuses['Ь'].active,
                }"
                class="hex hex-menu__item"
                >Ь</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Э'].disabled,
                  'hex-menu__item_active': charStatuses['Э'].active,
                }"
                class="hex hex-menu__item"
                >Э</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Ю'].disabled,
                  'hex-menu__item_active': charStatuses['Ю'].active,
                }"
                class="hex hex-menu__item"
                >Ю</a
              >
              <a
                href="#"
                :class="{
                  'hex-menu__item_disabled': charStatuses['Я'].disabled,
                  'hex-menu__item_active': charStatuses['Я'].active,
                }"
                class="hex hex-menu__item"
                >Я</a
              >
            </div>
          </div>
        </div>
        <div class="regions-page__region-list">
          <h3 class="panel-title">{{ currentChar }}</h3>
          <nav class="regions-page__region-menu">
            <router-link
              :to="'/cabinet/organizations/' + region.id"
              v-for="region in regions"
              :key="region.title"
              class="regions-page__region-menu-item"
              >{{ region.title }}</router-link
            >
          </nav>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
import { createNamespacedHelpers } from "vuex";
const { mapActions, mapState, mapMutations } = createNamespacedHelpers(
  "organizations/organizationsRegions"
);
export default {
  name: "CabinetRegions",
  computed: {
    ...mapState({
      currentChar: (state) => state.currentChar,
      charStatuses: (state) => state.charStatuses,
      regions: (state) => state.regions,
    }),
  },
  methods: {
    ...mapActions(["getRegions"]),
    ...mapMutations(["setCurrentChar"]),
    changeChar(e) {
      const element = e.target;
      if (
        element.className.includes("hex-menu__item") &&
        !element.className.includes("hex-menu__item_disabled")
      ) {
        this.setCurrentChar(element.textContent);
        this.getRegions();
      }
    },
  },
  created() {
    this.getRegions();
  },
};
</script>