<template>
  <header class="header">
    <div class="header__inner">
      <button
        @click="toggleBurgerMenu"
        class="header__menu-burger-toogle"
      ></button>
      <div class="header__column">
        <router-link to="/" class="logo"></router-link>
      </div>
      <div class="header__column">
        <p class="header__phone-text">Телефон горячей линии</p>
        <a href="tel:88005006070" class="header__phone-number"
          >8 (800) 500-60-70</a
        >
      </div>
      <div class="header__column">
        <a
          href="https://education.apkpro.ru/"
          target="_blank"
          class="button button_theme_green-invert button_border_rounded"
          >Вход для педагогов</a
        >
      </div>
    </div>
    <!-- открытое меню: .burger-menu.burger-menu_opened -->
    <div :class="burgerMenuObject" class="burger-menu">
      <div class="burger-menu__header">
        <a href="/" class="logo logo_type_white"></a>
        <button
          @click="toggleBurgerMenu"
          class="burger-menu__close-btn"
        ></button>
      </div>
      <nav class="burger-menu__links">
        <router-link to="/organizations" class="burger-menu__link">Регионы</router-link>
        <router-link to="/news" class="burger-menu__link">Новости</router-link>
        <a
          @click="toggleTechnicalSupportPopup"
          href="#"
          class="burger-menu__link"
          >Техническая поддержка</a
        >
      </nav>
    </div>
    <technical-support-popup v-if="isOpenedTechnicalSupport" />
  </header>
</template>
<script>
import { mapMutations, mapState } from "vuex";
import TechnicalSupportPopup from "@/components/TechnicalSupportPopup/TechnicalSupportPopup.vue";

export default {
  name: "public-header",
  components: { TechnicalSupportPopup },
  data() {
    return {
      burgerMenuObject: {
        "burger-menu_opened": false,
      },
    };
  },
  computed: {
    ...mapState({
      isOpenedTechnicalSupport: (state) => state.technicalSupport.isOpened,
    }),
  },
  methods: {
    ...mapMutations({ setIsOpened: "technicalSupport/setIsOpened" }),
    toggleBurgerMenu() {
      this.burgerMenuObject["burger-menu_opened"] =
        !this.burgerMenuObject["burger-menu_opened"];
    },
    toggleTechnicalSupportPopup() {
      this.setIsOpened(true);
      this.toggleBurgerMenu();
    },
  },
};
</script>