<template>
  <main class="content content_theme_ornament">
    <section class="auth">
      <h1 class="section-title section-title_text-align_center">Авторизация</h1>
      <form
        @submit.prevent
        class="form form_type_auth form-width-xs form_centered auth__form"
      >
        <fieldset class="form__fieldset">
          <div class="form__item">
            <label for="auth-login" class="form__label">Имя пользователя</label>
            <input
              @input="(e) => setLogin(e.target.value)"
              :value="login"
              type="text"
              name="auth-login"
              class="form__input-edit form__input-edit_el_auth-login input _req"
              id="auth-login"
            />
            <div class="form__error" v-if="loginIsRequired">Введите имя</div>
          </div>
          <div class="form__item">
            <label for="auth-password" class="form__label">Пароль</label>
            <input
              @input="(e) => setPassword(e.target.value)"
              :value="password"
              type="password"
              name="auth-password"
              class="form__input-edit form__input-edit_el_auth-password _req"
              id="auth-password input"
            />
            <div class="form__error" v-if="passwordIsRequired">
              Введите пароль
            </div>
          </div>
        </fieldset>
        <fieldset class="form__fieldset form__fieldset_type_button-area">
          <button
            @click="auth"
            type="submit"
            class="button button_theme_green button_border_rounded form__submit"
          >
            Авторизация
          </button>
        </fieldset>
        <div class="form__footer">
          <a href="#" class="form__oauth-link">Войти с помощью oauth 2.0</a>
          <p class="form__footer-text">
            Если возникли проблемы со входом обратитесь в
            <a
              href="#"
              class="form__footer-link"
              @click="() => setIsOpened(true)"
              >Службу поддержки</a
            >
          </p>
        </div>
      </form>
    </section>
  </main>
</template>
<script>
import { mapState, mapActions, mapMutations } from "vuex";
import { routeGuard } from "@/mixins/routeGuard";

export default {
  name: "Auth",
  data() {
    return {
      loginIsRequired: false,
      passwordIsRequired: false,
    };
  },
  computed: {
    ...mapState({
      login: (state) => state.auth.loginFormData.login,
      password: (state) => state.auth.loginFormData.password,
    }),
  },
  methods: {
    ...mapMutations({
      setLogin: "auth/setLogin",
      setPassword: "auth/setPassword",
      setIsOpened: "technicalSupport/setIsOpened"
    }),
    ...mapActions({
      setAuth: "auth/auth",
    }),
    auth() {
      let fieldsIsValid = true;

      if (!this.login) {
        this.loginIsRequired = true;
        fieldsIsValid = false;
      }

      if (this.password.length < 6) {
        this.passwordIsRequired = true;
        fieldsIsValid = false;
      }

      if (fieldsIsValid) {
        this.setAuth();
      }
    },
  },
  mixins: [routeGuard],
  beforeRouteEnter(to, from, next) {
    next((vm) => vm.routeGuard(to, vm));
  },
};
</script>