<template>
        <main class="content content_cabinet">
      <section class="cabinet-notification page__section">
        <!-- <ul class="breadcrumbs page__breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Организации</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Регионы</a>
          </li>
          <li class="breadcrumbs__item">
            <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
          </li>
        </ul> -->
      
        <h1 class="section-title mb-50">уведомления (2)</h1>
        <div class="cabinet-notification__wrapper wrapper-max_width-m">
          <div class="cabinet-notification__body">
            <div class="cabinet-notification__left left-notification">
              <div class="left-notification__all">
                Все уведомления (1089)
              </div>
              <div class="left-notification__row">
                <div class="left-notification__line notification new">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification new">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification active">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cabinet-notification__right right-notification">
              <div class="right-notification__body">
                <div class="right-notification__header">
                  <div class="right-notification__theme">
                    <span>Тема:</span> <strong>30 дней до конца срока заполнения формы №3456 </strong>
                  </div>
                  <div class="right-notification__date">
                    <span>Дата:</span> <p>20.10.2021 13:30</p>
                  </div>
                </div>
                <div class="right-notification__text">
                  <p>
                    Уважаемые товарищи!
                  </p>
                  <p>
                    Напоминаем вам о необходимости заполнения формы №3456 «Сведения о организации дополнительного профессионального образования субъекта РФ». До конца сдач осталось 30 дней (до 20.12.2021).
                  </p>
                  <p>
                    Спасибо за понимание.
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>
    </main>
</template>
<script>
export default {
  name: "cabinet-notifications",
};
</script>