<template>
  <li class="partner-logos__item">
    <a href="javascript;" class="partner-logos__link" target="_blank">
      <img
        :src="'http://api.efs.demostorage.site/storage' + partnerInfo.logo"
        :alt="partnerInfo.title"
        class="partner-logos__image"
      />
    </a>
  </li>
</template>
<script>
export default {
  name: "PartnerBlock",
  props: {
    partnerInfo: Object,
  },
};
</script>