<template>
  <router-view v-if="initialized" />
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "App",
  methods: {
    ...mapActions({
      setInitialized: "setInitialized",
      getUser: "account/getUser",
      getRegions: "location/getRegions",
      getCities: "location/getCities",
    }),
  },
  computed: {
    ...mapState({
      initialized: (state) => state.initialized,
    }),
  },
  async created() {
    if (document.cookie.includes("jwt") && document.cookie.includes("id")) {
      await this.getUser();
    }
    this.getRegions();
    this.getCities()
    this.setInitialized(true);
  },
};
</script>
<style>
@import "./assets/css/main.css";
</style>

