<template>
  <div class="interactive__block" id="MapPopupInfo">
    <div class="interactive__body">
      <div class="interactive__header">
        <h4>{{dataset.title}}</h4>
      </div>
      <div class="interactive__row">
        <div class="interactive__line line-period">
          <p>Период</p>
          <span>{{dataset.period}}</span>
        </div>
        <div class="interactive__line line-subject">
          <p>Субъекты ДПО</p>
          <span>{{dataset.subject}}</span>
        </div>
        <div class="interactive__line">
          <p>Программы ДПО</p>
          <span>{{dataset.programs}}</span>
        </div>
        <div class="interactive__line">
          <p>Метод центры</p>
          <span>{{dataset.method}}</span>
        </div>
        <div class="interactive__line">
          <p>ДПО на базе ВО</p>
          <span>{{dataset.dpo}}</span>
        </div>
      </div>
      <div class="interactive__link">
        <a href="#">Подробная статистике по региону</a>
      </div>
    </div>
  </div>
</template>
<script>
    export default {
        name: "map-popup-info",
        props: {
            dataset: Object
        }
    }
</script>
