<template>
  <main class="content content_cabinet">
    <section class="users page__section">
      <div class="users__top">
        <h1 class="section-title">формы</h1>
        <a href="#" class="users__add">+ создать форму</a>
      </div>

      <div class="users__wrapper wrapper-max_width-m">
        <div class="users__row row-search">
          <search-input
            :inputValue="filters.keyword"
            @search="
              ($event) => {
                setKeyword($event);
                getForms();
              }
            "
          />
        </div>
        <div class="users__row row-table">
          <div class="row-table__top">
            <div class="row-table__found">Найдено {{forms.length}}</div>
            <div class="row-table__selects table-selects">
              <div class="table-selects__col">
                <select class="form__select form__select_theme_white" style="width: 150px; margin-right: 20px;">
                  <option>Выберите период</option>
                </select>
              </div>
              <div class="table-selects__col">
                <select class="form__select form__select_theme_white" style="width: 150px">
                  <option>Выберите статус</option>
                </select>
              </div>
            </div>
          </div> 
          <table class="table users__table">
            <tbody>
              <tr class="table__row table__row_head">
                <th class="table__header">Номер</th>
                <th class="table__header">Наименование</th>
                <th class="table__header">Периодичность</th>
                <th class="table__header">Действие</th>
                <th class="table__header">Заполнило</th>
                <th class="table__header">Статус</th>
                <th class="table__header"></th>
              </tr>
              <tr
                class="table__row"
                v-for="form in forms"
                :key="form.id"
                @click="$router.push(`/cabinet/forms/form-${form.id}`)"
              >
                <td class="table__cell">{{ form.id }}</td>
                <td class="table__cell">
                  {{ form.title }}
                </td>
                <td class="table__cell">Раз в год</td>
                <td class="table__cell">10.10.21 - 31.10.21</td>
                <td class="table__cell">67/85</td>
                <td class="table__cell">{{ form.status.title }}</td>
                <td class="table__cell">
                  <button class="table__cell-users_row-more">
                    <img src="@/assets/images/more_dots.svg" alt="more" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
import { createNamespacedHelpers } from "vuex";

const { mapActions, mapState, mapMutations } = createNamespacedHelpers("forms/formsAll");

export default {
  name: "cabinet-forms",
  methods: {
    ...mapActions({
      getForms: "getForms",
    }),
    ...mapMutations({
      setKeyword: "setKeyword"
    })
  },
  computed: {
    ...mapState({
      forms: (state) => state.forms,
      filters: state => state.filters
    }),
  },
  created() {
    this.getForms();
  },
};
</script>